[flake8]
max-line-length = 127
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    build,
    dist,
    *.egg-info
# E203: whitespace before ':'
# E501: line too long (handled by black)
# W503: line break before binary operator
ignore = E203,E501,W503
